* {
  color: white;
  font-size: large;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

table,
th,
td {
  border: none;
}

table {
  height: 500px;
  width: 300px;
}

thead {
  width: 100%;
  height: 25%;
}

tbody {
  width: 100%;
  height: 75%;
}

tr {
  width: 100%;
  height: 20%;
}

td {
  padding: 0;
  width: 25%;
}

button {
  width: 100%;
  height: 100%;
  padding: 0%;
  border: none;
}
